@{
  Layout = "_Layout";
}
@model List<CartItem>
@section Css{
    <link rel="stylesheet" href="~/style-payment.css" />
    <link rel="stylesheet" href="~/styles.css" />
    <link rel="stylesheet" href="_responsive.css" />
    <style>
        input[type="text"]{
            width: 100%;
        }
        .payment .payment-detail select{
            width: 100%;
        }
    </style>
}

<div class="payment">
    <div class="container">
        <div class="payment-option row">
            <div class="option-wrap row">
                <input type="radio" id="acc-type-1" name="acc-type" value="acc-type-1" style=margin-top:5px;>
                </input>
                <label for="acc-type-1" style="margin-left:10px;">
                    <h6>Đăng ký tài khoản</h6>
                </label>
            </div>
            <div class="option-wrap row">
                <input type="radio" id="acc-type-2" name="acc-type" value="acc-type-2" style=margin-top:5px;>
                </input>
                <label for="acc-type-2" style="margin-left:10px;">
                    <h6>Mua hàng không cần tài khoản</h6>
                </label>
            </div>
        </div>
        <div class="payment-detail">
                <form action="/checkout" method="POST">
            <div class="row">
                <div class="col-4">
                    <div class="payment-info-box">
                        <div class="title row">
                            <i class="fa fa-user" aria-hidden="true" style="font-size:22px;"></i>
                            <h5 class="ml-20">Thông tin giao hàng</h5>
                        </div>
                        <div class="payment-info">
                            <div class="row">
                                <div class="col-6 pt-5">
                                    *Tên:
                                </div>
                                <div class="col-6">
                                    <input type="text" style="margin-top:0px;" id="name" name="FullName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 pt-10">
                                    Email:
                                </div>
                                <div class="col-6">
                                    <input type="text" id="email" name="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 pt-11">
                                    *Điện thoại:
                                </div>
                                <div class="col-6">
                                    <input type="text" id="phone" name="Phone" required>
                                </div>
                            </div>
                            <div class="row mt-30">
                                <div class="col-6 pt-11">
                                    Địa chỉ:
                                </div>
                                <div class="col-6">
                                    <input type="text" id="address" name="Address">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="delivery-info">
                        <div class="title row">
                            <i class="fas fa-box-open" aria-hidden="true" style="font-size:22px;"></i>
                            <h5 class="ml-20">Vận chuyển</h5>
                        </div>
                        <div class="mt-20">
                            <h6 class="description">
                                Giao hàng <span class="clr-pink"><b>Miễn phí</b></span>
                                <span class="clr-blue">- Thời gian nhận hàng: 1 - 2 ngày.</span>
                            </h6>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="payment-method">
                        <div class="title row">
                            <i class="fas fa-dollar-sign" aria-hidden="true" style="font-size:22px;"></i>
                            <h5 class="ml-20">Thanh toán</h5>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="invoice-box">
                        <div class="title row mt-20">
                            <i class="fas fa-box-open" aria-hidden="true" style="font-size:22px;"></i>
                            <h5 class="ml-20">Đơn hàng</h5>
                        </div>
                        <div class="invoice-detail">
                            <table class="table cart">
                                <thead>
                                    <tr>
                                        <td style="width: 30%">Tên sản phẩm</td>
                                        <td>Số lượng</td>
                                        <td>Đơn giá</td>
                                        <td>Tổng tiền</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach ( var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.product.Title</td>
                                            <td style="text-align:center">@item.quantity</td>
                                            <td style="text-align:center">@item.product.Price.ToString("N3") đ</td>
                                            <td style="text-align:center">@((item.quantity * item.product.Price).ToString("N3")) đ</td>
                                        </tr>
                                        
                                    }
                                </tbody>
                            </table>
                            <table class="table summary">
                                <tbody>
                               
                                    <tr>
                                        <td class="text">Thành tiền:</td>
                                        <td class="total">@((Model.Sum(item => item.quantity * item.product.Price)).ToString("N3")) đ</td>
                                    </tr>
                                    <tr>
                                        <td class="text">Phí vận chuyển:</td>
                                        <td class="total">Miễn phí</td>
                                    </tr>
                                    <tr>
                                        <td class="text big-text"><b>TỔNG CỘNG:</b></td>
                                        <td class="total big-text"><b> @((Model.Sum(item => item.quantity * item.product.Price)).ToString("N3")) đ</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="order-button">
                            <button id="confirm-order" type="submit">
                                ĐẶT HÀNG
                            </button>
                        </div>
                        <div class="order-note">
                            <label for="orderNote">
                                <h6>Ghi chú đơn hàng:</h6>
                            </label>
                            <textarea style="margin-top:10px" name="orderNote" id="orderNote"></textarea>
                            <div class="description">
                                <h6>* Quý khách khó khăn trong việc đặt hàng hoặc cần tư vấn đổi trả hàng vui lòng gọi:
                                    <b>1900.636100</b> hoặc <b>028.7300.6800</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>