@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "ĐƠN HÀNG";
    ViewBag.PageName = "ĐƠN HÀNG";
    ViewBag.Link = "/admin/order";
    var user = ViewData["User"] as User;
}
@model List<Order>

     <main>
                    <div class="card mb-4">
                              <div asp-validation-summary="All" class="alert alert-danger"></div>
                            
                            @if(@TempData["message"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["message"]
                                </div>
                            }
                            @if(@TempData["error"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["error"]
                                </div>
                            }

                            <form method="GET" action="/admin/contact/search">
                                    <div class="input-group mb-3 p-3">
                                            <input name="query" type="text" class="form-control" placeholder="Tìm ĐƠN HÀNG" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button type="submit" class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></button>
                                            </div>
                                    </div>
                            </form>
                                <div class="card-header d-flex justify-content-between ">
                                  <div>
                                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCustomer" ><i class="fas fa-plus"></i></button>
                                      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addCustomer" ><i class="fas fa-file-download"></i></button>
                                  </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>



    <tr>
      <th class="th-sm" >#
      </th>
      <th class="th-sm">Họ tên
      </th>
      <th class="th-sm">Email
      </th>
      <th class="th-sm ">Điện thoại
      </th>
      <th class="th-sm">Ngày tạo
      </th>
      <th class="th-sm text-center">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr onclick="viewDetail(@item.Id)" style="cursor: pointer;">
      <td >@item.Id</td>
      <td>@item.User.Username</td>
      <td>@item.User.Email</td>
      <td>@item.User.Phone</td>
      <td>@item.CreatedTime</td>
      <td class="text-center">@(item.Status == OrderStatus.Success ? 
                                Html.Raw("<span class='badge badge-success' style='min-width:100px; display:inline-block; padding:4px 2px'>Hoàn thành</span>") 
                                : 
                                (
                                   item.Status == OrderStatus.Dispose ?
                                   Html.Raw("<span class='badge badge-danger' style='min-width:100px; display:inline-block; padding:4px 2px'>Hủy bỏ</span>")   
                                   : 
                                   
                                  (
                                   item.Status == OrderStatus.Borrowed  ?
                                   Html.Raw("<span class='badge badge-warning' style='min-width:100px; display:inline-block; padding:4px 2px'>Đang mua</span>")   
                                   : 
                                   Html.Raw("<span class='badge badge-primary' style='min-width:100px; display:inline-block; padding:4px 2px'>Đang chờ xử lý</span>")   
                                   )
                            
                                )
                            
                        

                                )</td>
      @* <td data-toggle="modal" data-target="#basicExampleModal-@item.Id" class="d-flex justify-content-between show-message">
        @(@item.Content.Length > 25 ? @item.Content.Substring(0, 25) + "..." : @item.Content) <i class="fa fa-eye" aria-hidden="true"></i> 
      </td>
      <td class="text-center">@item.CreatedTime</td>F
      <td class="text-center">
        @(@item.Status == false ? Html.Raw("<span style='width:60px' class='badge badge-warning status-message'>Chưa xem</span>") : @Html.Raw("<span style='width:60px' class='badge badge-success status-message'>Đã xem</span>"))
      </td> *@
    </tr>
    }
  </tbody>
</table>
                           </div>
                            </div>
                     </div>
 </main>
        @* Model detail message  *@

        @foreach (var item in Model)
        {
        <div class="modal fade" id="basicExampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                 <p>Subject</p>
                 <p>
                    @* <span style="font-size: 14px"><span style="width:80px; display:inline-block">Họ tên: </span>@item.FullName</span> *@
                 </p>
                 <p>
                    @* <span style="font-size: 14px"><span style="width:80px; display:inline-block">Email: </span>@item.Email</span> *@
                 </p>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                @* @item.Content *@
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        }

  
@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
      .show-message{
        cursor: pointer;
      }
      .show-message:hover{
         color:blue;
      }

          .alert.alert-danger.validation-summary-valid {
        display: none;
    }

    tr:hover{
      background-color: #3332;
      transition: 0.4s;
    }
    </style>
}
@section Script{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable( 
               {  
                 "order": [[ 0, "desc" ]]
               },
            );
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    <script>
     // change status contact while click show content 
     function viewDetail(id){
       window.location.href = "/admin/order/" + id;
     }
    </script>
}