@{
  Layout = "_Layout";
}
@model List<CartItem>
@section Css{
    <link rel="stylesheet" href="~/style-cart.css" />
    <link rel="stylesheet" href="/_responsive.css" />
    <style>
        td, th {
            padding: 10px;
        }
    </style>

}


@if (Model.Count > 0) {
  decimal total = 0;
  int stt = 1;

    <div class="cart">
          <div class="container">
              <div class="cart-detail">
                <div class="row">
                    <div class="col-8">
                        <div class="title">
                            <h5>Giỏ hàng</h5>
                        </div>
                        <div class="cart-info row">
                            <table class="table">
                                <tr>
                                <th><b>#</b></th>
                                <th><b>Sản phẩm</b></th>
                                <th><b>Giá</b></th>
                                <th><b>Số lượng</b></th>
                                <th><b>Cập nhật</b></th>
                                <th><b>Thành tiền</b></th>
                                <th></th>
                                </tr>
                                @foreach (var cartitem in Model)
                                {
                                    var thanhtien = cartitem.quantity * cartitem.product.Price;
                                    total = total + (decimal)thanhtien;

                                    <tr>
                                    <td>@(stt++)</td>
                                    <td>@cartitem.product.Title</td>
                                    <td>@(cartitem.product.Price.ToString("n0"))</td>
                                    <td><input style="width: 50px; text-align:center" asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.Id}")"/>
                                         
                                    </td>
                                    <td style="text-align: center;">
                                        <button class="btn btn-success updatecartitem" style="margin: 0 4px"
                                                data-productid="@cartitem.product.Id"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                        <a href="/removecart/@cartitem.product.Id"
                                            class="btn"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                    <td>@(thanhtien.ToString("N3")) </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="col-4 cart-total">
                        <div class="title">
                            <h5>Đơn hàng</h5>
                        </div>
                        <div class="cart-sum">
                            <div class="d-flex">
                                <h6><b>Thành tiền:</b></h6>
                                <div class="sum">
                                    <h6>@total.ToString("N3") đ</h6>
                                </div>
                            </div>
                            <div class="d-flex">
                                <h6><b>Ship:</b></h6>
                                  <div class="sum">
                                    <h6>Miễn phí</h6>
                                </div>
                            </div>
                            <div class="d-flex mt-10">
                                <h6><b>Tổng cộng:</b> @total.ToString("N3")</h6>
                                <div class="sum">
                                    <h6 style="margin-left:4px;"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="payment">
                            <button>
                                <a href="#">
                                <i class="fas fa-share"></i>
                                    Thanh toán
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="contact" style="text-align: center;">
            <div class="container">
                <div class="row"style="margin-left:20%;">
                    <div class="contact-image">
                        <img src="images/contact.jpg" alt="">
                    </div>
                    <div class="description">
                        <h6>- Bạn có thắc mắc về đơn hàng? - Bạn có thắc mắc về cách mua hàng? - Bạn muốn đổi trả hàng?</h6>
                        <h6>Hãy liên hệ với chúng tôi: <span style="color: #ff8400;font-size: 18px;font-weight: bold;">1900 636100</span> - Bộ phận CSKH sẽ hỗ trợ bạn!</h6>
                    </div>
                </div>
            </div>
        </div>

    @section Script {
         <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".updatecartitem").click(function (event) {
                    event.preventDefault();
                    var productid = $(this).attr("data-productid");
                    var quantity = $("#quantity-" + productid).val();
                    var data = {
                            productid: productid,
                            quantity: quantity
                        };
                    console.log(data);
                    fetch("@Url.RouteUrl("updatecart")",{
                          method: 'POST', // or 'PUT'
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    })
                    .then(data => {
                         window.location.href = "@Url.RouteUrl("cart")";
                    });
                });
            });
        </script>
    }
}
else{<p 
    class="alert alert-danger"
    style="text-align: center;
    padding: 25px;
    font-size: 20px;
    color: red;"
    >Giỏ hàng trống
    </p>
}